.hero {
  height: 100vh;
  padding: 2rem 0;
  .wrapper {
    margin-top: 2rem;
    @media screen and (min-width: 920px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 2rem 3rem;
    }
    .hero_content {
      color: white;
      text-align: center;
      @media screen and (min-width: 920px) {
        width: 45%;
        text-align: left;
        margin-top: 2rem;
      }
      h1 {
        font-family: "PT Serif", serif;
        @media screen and (min-width: 920px) {
          font-size: 3.2rem;
        }
      }
      p {
        font-family: "Lato", sans-serif;
        margin: 1rem 0;
        line-height: 1.8;
        font-weight: 300;
      }
      button {
        font-family: "PT Serif", serif;
        padding: 0.8rem 2rem;
        font-size: 1.1rem;
        background-color: #ab8d69;
        color: white;
        margin-top: 1rem;
        @media screen and (min-width: 900px) {
          background: transparent;
          color: white;
          border: 1px solid white;
          margin-top: 2rem;
        }
        &:hover {
          background-color: #ab8d69;
          color: white;
          border-color: #ab8d69;
        }
      }
    }
    .hero_burger {
      position: relative;
      margin-top: 2rem;
      height: 200px;
      @media screen and (min-width: 920px) {
        width: 40%;
        height: 400px;
        margin-right: 3rem;
      }
      img {
        width: 100%;
        transition: 0.5s ease-in-out;
      }
      .salt_img {
        position: absolute;
        width: 70%;
        right: 2rem;
        @media screen and (min-width: 920px) {
          right: -5rem;
          top: 10rem;
        }
      }
      .pepper_img {
        position: absolute;
        width: 40%;
        top: 5rem;
        @media screen and (min-width: 920px) {
          width: 55%;
          top: 8rem;
          right: 22rem;
        }
      }
      .burger_imgs {
        width: 55%;
        height: 100%;
        margin: auto;
        position: relative;
        @media screen and (min-width: 920px) {
          width: 100%;
        }
        img {
          position: absolute;
          transition: 1s ease-in-out;
        }
        .top_bun {
          top: 0.7rem;
          z-index: 4;
          @media screen and (min-width: 920px) {
            top: 0.5rem;
          }
        }
        .onion {
          top: 3.4rem;
          left: -0.5rem;
          z-index: 5;
          @media screen and (min-width: 920px) {
            z-index: 11;
            top: 6rem;
            width: 102%;
          }
        }
        .tomato {
          bottom: 4.4rem;
          z-index: 5;
          @media screen and (min-width: 920px) {
            width: 90%;
            z-index: 14;
            top: 8rem;
            left: 3rem;
          }
        }
        .pickel {
          bottom: 3.5rem;
          z-index: 4;
          @media screen and (min-width: 920px) {
            bottom: 8.5rem;
          }
        }
        .meat {
          bottom: 1.5rem;
          @media screen and (min-width: 920px) {
            bottom: 3.5rem;
          }
        }
        .bottom_bun {
          bottom: 0;
          z-index: 4;
          @media screen and (min-width: 920px) {
            bottom: 0rem;
          }
        }
      }
    }
  }
}
