@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 200vh;
}

.container {
  width: 93%;
  margin: auto;
  font-family: karla, sans-serif;
}
a {
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}

//font-family: 'Lato', sans-serif;
//font-family: 'PT Serif', serif;
