.menu {
  .wrapper {
    padding: 3rem 0;
    overflow: hidden;
    .menu_header {
      color: white;
      text-align: center;
      @media screen and (min-width: 500px) {
        width: 50%;
        margin: auto;
      }
      h2 {
        color: #ab8d69;
        font-family: "Great Vibes", cursive;
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-weight: normal;
        @media screen and (min-width: 800px) {
          font-size: 2rem;
        }
      }
      h3 {
        font-family: "PT Serif", serif;
        margin: 1rem 0;
        font-size: 1.8rem;
      }
      p {
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
        margin: 2rem 0;
        font-weight: 100;
        font-size: 18px;
      }
    }
    .meal_wrapper {
      @media screen and (min-width: 500px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin: auto;
      }
    }
    .meal {
      width: 100%;
      margin-top: 4rem;
      padding: 4rem 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .meal_salt {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: -4rem;
      }
      .dessert_salt {
        left: -1rem;
      }
      img {
        width: 70%;
        margin: 0 2rem;
        transition: 2s ease-in-out;
        transform-style: preserve-3d;
        transform: scale3d(1, 1, 1);
        @media screen and (min-width: 500px) {
          width: 90%;
        }
      }
      .main_dish {
        width: 80%;
      }
    }
    .meal_description {
      text-align: center;
      margin-top: 6rem;
      @media screen and (min-width: 800px) {
        text-align: left;
        margin-top: 4rem;
      }
      h2 {
        color: #ab8d69;
        font-family: "Great Vibes", cursive;
        font-size: 1.6rem;
        letter-spacing: 2px;
        font-weight: normal;
        @media screen and (min-width: 800px) {
          font-size: 2rem;
        }
      }
      P {
        color: white;
        font-family: "Montserrat", sans-serif;
        line-height: 1.8;
        font-weight: 100;
        font-size: 1rem;
      }
    }
  }
}
